@font-face {
  font-family: 'icomoon';
  src:  url('../../../public/icons/icomoon.eot?aqvo7n');
  src:  url('../../../public/icons/icomoon.eot?aqvo7n#iefix') format('embedded-opentype'),
    url('../../../public/icons/icomoon.ttf?aqvo7n') format('truetype'),
    url('../../../public/icons/icomoon.woff?aqvo7n') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel-circle:before {
  content: "\ea0d";
}
